.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  line-height: 40px;
}

.react-calendar__navigation__label {
  font-size: 16px;
  font-weight: bold;
}

.react-calendar__month-view__weekdays {
  position: relative;
}

.react-calendar__month-view__weekdays::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  bottom: 0;
  border-bottom: 1px dashed #ddd;
  content: '';
}

/* 周几 标题 */
.react-calendar__month-view__weekdays__weekday {
  text-align: center;
  line-height: 40px;
}

.react-calendar__month-view__days {
  transition: height 0.3s ease;
}

/* 每一天 */
.react-calendar__month-view__day .tile {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 4px auto;
  color: #333;
}

/* 邻月 */
.react-calendar__month-view__day--neighboringMonth .tile {
  color: #ddd;
}


.react-calendar__month-view__day--before .tile {
  color: #C2D2E5;
}

/* 当前日期 */
.react-calendar__month-view__day--current .tile {
  color: #1777ff;
  transition: color 0.1s ease;
}

/* 选中的日期 */
.react-calendar__month-view__day--active .tile {
  color: #fff;
  background-color: #1777ff;
}
